<div *ngIf="!loading">
    <div *ngIf="teslaFolder.teslaEvent">
        <h1>{{teslaFolder.teslaEvent.timeStamp | date}} in {{teslaFolder.teslaEvent.city}}</h1>
        <hr/>
        <div *ngIf="teslaFolder" class="row">
            <div style="width: 100%;" class="card">
                <div class="card-header"><h1>Map</h1> <a [href]="'http://www.google.com/maps/place/'+teslaFolder.teslaEvent.est_Lat+','+teslaFolder.teslaEvent.est_Lon" target="_blank" class="right">View in google maps 🗺</a></div>
                <div class="card-body">
                    <map-view [zoom]="12" [afterInit]="true" [teslaEvent]="teslaFolder.teslaEvent" [id]="teslaFolder.name"></map-view>
                </div>
            </div>
            
        </div>
    </div>
    <div *ngIf="!teslaFolder.teslaEvent">
        <h1>{{folderName}}</h1>
    </div>
    <div class="row">
        <h2>Clips</h2>
    </div>

    <div *ngFor="let teslaClipsGrouped of teslaFolder.teslaClipsGroupedByDate" [class.fullscreen]="isFullscreen(teslaClipsGrouped) && isCurrentlyOpen(teslaClipsGrouped)" class="card mb-4">
        <div class="card-header">
            <div class="d-flex">
                <div class="mr-auto p-2"><h2>{{teslaClipsGrouped[0].dateTime | date:"hh:mm:ss a"}}</h2></div>
                <div class="p-2">
                    <button class="btn btn-outline-info" *ngIf="isCurrentlyOpen(teslaClipsGrouped)" type="button" (click)="fullscreen(teslaClipsGrouped)">
                        ↕
                    </button>
                </div>
                <div class="p-2">
                    <button type="button" (click)="open(teslaClipsGrouped)" class="btn btn-outline-info">
                        <span *ngIf="!isCurrentlyOpen(teslaClipsGrouped)">🔽</span>
                        <span *ngIf="isCurrentlyOpen(teslaClipsGrouped)">🔼</span>
                    </button>
                </div>
            </div>
        </div>
        <div *ngIf="isCurrentlyOpen(teslaClipsGrouped)" class="card-body">
            <div class="row">
                <div class="btn-group">
                    <button class="btn btn-lg btn-outline-secondary" (click)="play(teslaClipsGrouped[0].dateTime)">
                        <span *ngIf="!playing">▶ Play All</span>
                        <span *ngIf="playing">⏸ Pause All</span>
                    </button>
                    <button [disabled]="!playing" class="btn btn-lg btn-outline-secondary" (click)="fastForward(teslaClipsGrouped[0].dateTime, false)">
                        ⏪ Rewind 10 seconds
                    </button>
                    <button [disabled]="!playing" class="btn btn-lg btn-outline-secondary" (click)="fastForward(teslaClipsGrouped[0].dateTime, true)">
                        ⏩ Forward 10 seconds
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div *ngFor="let tc of teslaClipsGrouped" [class.col-3]="!isFullscreen(teslaClipsGrouped) " [class.col-6]="isFullscreen(teslaClipsGrouped)">
                    <vg-player>
                        <video [attr.id]="getMediaId(tc.dateTime, tc.side)" style="width: 100%;" [vgMedia]="media" #media preload="auto" controls>
                            <source [src]="'/api/teslafolder/' +teslaFolder.folderType+ '/' + teslaFolder.name + '/' + tc.name" type="video/mp4">
                        </video>
                    </vg-player>
                </div>
            </div>

        </div>
    </div>
</div>