<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li [ngClass]="{'disabled': currentPage == 1}" (click)="changePage(currentPage-1)"  class="page-item"><span style="cursor: pointer;" class="page-link" >Previous</span></li>
      <li *ngIf="morePagesToTheLeft()" (click)="changePage(1)"><span class="page-link">&laquo;</span></li>
      <li *ngIf="morePagesToTheLeft()" (click)="movePagination(-2)"><span class="page-link">...</span></li>
      <ng-container *ngFor="let i of getPages()">
        <li (click)="changePage(i)" [ngClass]="{'active': currentPage == i}" class="page-item">
            <span style="cursor: pointer;" class="page-link">{{i}}</span>
        </li>
       </ng-container>
      <li *ngIf="morePagesToTheRight()" (click)="movePagination(2)"><span class="page-link">...</span></li>
      <li *ngIf="morePagesToTheRight()" (click)="changePage(totalPages)"><span class="page-link">&raquo;</span></li>
      <li [ngClass]="{'disabled': currentPage == totalPages}" (click)="changePage(currentPage+1)" style="cursor: pointer;" class="page-item"><span class="page-link" >Next</span></li>
    </ul>
  </nav>