<div class="card">
    <div class="card-header"><h1>Favorite Folders</h1></div>
    <div class="card-body">
        <input class="form-control" type="text" [(ngModel)]="search" placeholder="Search...">
        <div *ngIf="teslaFolders && (teslaFolders | folderFilter:search).length === 0">
            <br/>
            <div class="alert alert-info">No Favorites Found!</div>
        </div>
    </div>
    <table *ngIf="teslaFolders && (teslaFolders | folderFilter:search).length > 0" class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Reason Trigger</th>
            <th># of Clips</th>
            <th>Date</th>
            <th>City</th>
            <th>Location</th>
            <th>Thumbnail</th>
            <th>Unfavorite</th>
        </thead>
        <tbody>
            <tr *ngFor="let tf of teslaFolders | folderFilter : search">
                <td><a [routerLink]="['/folders/'+ tf.folderType + '/' + tf.name]">{{tf.name}}</a></td>
                <td>{{(tf.teslaEvent.reason).replaceAll("_", " ")}}</td>
                <td>{{tf.teslaClipsGroupedByDate.length}}</td>
                <td>{{tf.teslaEvent.timeStamp | date}}</td>
                <td>{{tf.teslaEvent.city}}</td>
                <td><map-view [teslaEvent]="tf.teslaEvent" [id]="tf.name"></map-view></td>
                <td><img style="width: 100%;"  [src]="tf.thumbnail ? 'api/teslafolder/get/thumbnail/'+tf.folderType+'/'+tf.name : '/assets/noimage.png'"/></td>
                <td><button (click)="toggleFavorite(tf.name, 'Folder')" class="btn btn-danger">❌</button></td>
            </tr>
        </tbody>
    </table>
    
</div>