<div *ngIf="!loading">
    <h1>{{teslaFolder.teslaEvent.timeStamp | date}}</h1>
    <hr/>
    <div class="">
        <h2>Clips</h2>
    </div>
    <div *ngFor="let teslaClipsGrouped of teslaFolder.teslaClipsGroupedByDate" class="card mb-4">
        <div class="card-header">
            <div class="d-flex">
                <div class="mr-auto p-2"><h2>{{teslaClipsGrouped[0].dateTime | date:"hh:mm:ss a"}}</h2></div>
                <div class="p-2">
                    <button type="button" (click)="open(teslaClipsGrouped)" class="btn btn-outline-info">
                        <span *ngIf="!isCurrentlyOpen(teslaClipsGrouped)">🔽</span>
                        <span *ngIf="isCurrentlyOpen(teslaClipsGrouped)">🔼</span>
                    </button>
                </div>
            </div>
            
        </div>
        <div *ngIf="isCurrentlyOpen(teslaClipsGrouped)" class="card-body">
            <div class="row">
                <div *ngFor="let tc of teslaClipsGrouped" class="col-3">
                    <vg-player>
                        <video [attr.id]="getMediaId(tc.dateTime, tc.side)" style="width: 100%;" [vgMedia]="media" #media preload="auto" controls>
                            <source [src]="'/api/teslafolder/' + teslaFolder.name + '/' + tc.name" type="video/mp4">
                        </video>
                    </vg-player>
                </div>
            </div>
            <div class="row mt-2">
                <p class="text-center">
                    <button class="btn btn-lg btn-outline-secondary" (click)="play(teslaClipsGrouped[0].dateTime)">
                        <span *ngIf="!playing">▶ Play All</span>
                        <span *ngIf="playing">⏸ Pause All</span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>