<div *ngIf="!loading">
    <h1>{{teslaFolder.teslaEvent.timeStamp | date}}</h1>
    <hr/>
    <h2>Clips</h2>
    <div *ngFor="let teslaClipsGrouped of teslaFolder.teslaClipsGroupedByDate" class="card mb-4">
        <div class="card-header"><h2>{{teslaClipsGrouped[0].dateTime | date:"hh:mm:ss"}}</h2></div>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let tc of teslaClipsGrouped">
                    <td>{{tc.name}}</td>
                    <td>{{getEnumName(tc.side)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>