<div *ngIf="teslaFolders$ | async as teslaFolders; else loadingError" class="card">
    <div class="card-header"><h1>Folders</h1></div>
    <div class="card-body">
        <div class="form-group">
            <input [(ngModel)]="search" type="text" placeholder="Search..." class="form-control"/>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th (click)="changeOrderBy('name')">Name 
                    <order-by-button 
                        [isOrderedByProperty]="isOrderedByProperty('name')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th (click)="changeOrderBy('teslaEvent.reason')">Reason Trigger
                    <order-by-button 
                        [isOrderedByProperty]="isOrderedByProperty('teslaEvent.reason')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th  (click)="changeOrderBy('teslaClipsGroupedByDate.length')"># of Clips
                    <order-by-button 
                        [isOrderedByProperty]="isOrderedByProperty('teslaClipsGroupedByDate.length')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th (click)="changeOrderBy('teslaEvent.timeStamp')">
                    Date
                    <order-by-button 
                        [isOrderedByProperty]="isOrderedByProperty('teslaEvent.timeStamp')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                
                </th>
                <th (click)="changeOrderBy('teslaEvent.city')">
                    City
                    <order-by-button 
                        [isOrderedByProperty]="isOrderedByProperty('teslaEvent.city')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th>Location</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tf of teslaFolders | folderFilter : search | orderBy: orderByProperty">
                <td><a [routerLink]="['folders/'+ tf.folderType + '/' + tf.name]">{{tf.name}}</a></td>
                <td>{{(tf.teslaEvent.reason).replaceAll("_", " ")}}</td>
                <td>{{tf.teslaClipsGroupedByDate.length}}</td>
                <td>{{tf.teslaEvent.timeStamp | date}}</td>
                <td>{{tf.teslaEvent.city}}</td>
                <td><map-view [teslaEvent]="tf.teslaEvent" [id]="tf.name"></map-view></td>
                <td><img style="height: 100px;" [src]="tf.thumbnail ? 'api/teslafolder/get/thumbnail/'+tf.folderType+'/'+tf.name : 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1200px-No_image_3x4.svg.png'"/></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loadingError>
    {{error}}
</ng-template>