<div *ngIf="rescanning" class="alert alert-warning">Re-scanning in progress</div>
<div class="card" *ngIf="{teslaFolders: teslaFolders$ | async} as teslaFolderWrapper">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h1>Folders</h1>
            </div>
            <div class="col-4">
                Last run: {{teslaData?.lastRun | date: 'medium'}} <button (click)="startRescan()" class="btn btn-info">re-scan</button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input [(ngModel)]="search" (ngModelChange)="searchChanged($event)" type="text" placeholder="Search..." class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <li [ngClass]="{'disabled': currentPage == 1}" class="page-item"><span style="cursor: pointer;" class="page-link" >Previous</span></li>
                      <ng-container *ngFor="let _ of [].constructor(teslaFolderWrapper.teslaFolders?.totalPages); let i = index">
                        <li (click)="changePage(i+1)" [ngClass]="{'active': currentPage == i+1}" class="page-item">
                            <span style="cursor: pointer;" class="page-link">{{i+1}}</span>
                        </li>
                       </ng-container>
                      <li [ngClass]="{'disabled': currentPage == teslaFolderWrapper.teslaFolders?.totalPages}" style="cursor: pointer;" class="page-item"><span class="page-link" >Next</span></li>
                    </ul>
                  </nav>
            </div>
        </div>       
    </div>
    <table *ngIf="teslaFolderWrapper.teslaFolders" class="table table-striped">
        <thead>
            <tr>
                <th (click)="changeOrderBy('name')">Name
                    <order-by-button [isOrderedByProperty]="isOrderedByProperty('name')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th (click)="changeOrderBy('teslaEvent.reason')">Reason Trigger
                    <order-by-button [isOrderedByProperty]="isOrderedByProperty('teslaEvent.reason')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th (click)="changeOrderBy('numberOfClips')"># of Clips
                    <order-by-button [isOrderedByProperty]="isOrderedByProperty('numberOfClips')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th (click)="changeOrderBy('teslaEvent.timeStamp')">
                    Date
                    <order-by-button [isOrderedByProperty]="isOrderedByProperty('teslaEvent.timeStamp')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>

                </th>
                <th (click)="changeOrderBy('teslaEvent.city')">
                    City
                    <order-by-button [isOrderedByProperty]="isOrderedByProperty('teslaEvent.city')"
                        [isReversed]="isReversedOrdered()">
                    </order-by-button>
                </th>
                <th>Location</th>
                <th>Thumbnail</th>
                <th>Favorite</th>
                <Th>Delete</Th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tf of teslaFolderWrapper.teslaFolders.data">
                <td><a [routerLink]="['folders/'+ tf.folderType + '/' + tf.name]">{{tf.name}}</a></td>
                <td>{{(tf.teslaEvent ? tf.teslaEvent.reason : 'Event.json data not available').replaceAll("_", " ")}}
                </td>
                <td>{{tf.numberOfClips}}</td>
                <td>{{(tf.teslaEvent ? tf.teslaEvent.timeStamp : convertDirectoryNameToDate(tf.name)) | date}}</td>
                <td>{{tf.teslaEvent?.city}}</td>
                <td>
                    <map-view *ngIf="tf.teslaEvent" [teslaEvent]="tf.teslaEvent" [id]="tf.name"></map-view>
                </td>
                <td><img style="width: 100%;"
                        [src]="tf.thumbnail ? 'api/teslafolder/get/thumbnail/'+tf.folderType+'/'+tf.name : '/assets/noimage.png'" />
                </td>
                <td (click)="toggleFavorite(tf)"><span style="padding-left: 35%; cursor: pointer;"
                        [ngStyle]="{'color':getColorIfFavorite(tf)}" class="material-icons-outlined">star_rate</span>
                </td>
                <td><button (click)="delete(tf)" class="btn btn-danger">X</button></td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loadingError>
    {{error}}
</ng-template>
